
/* App.css */

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    /* width: 12px; Set the width of the scrollbar */
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Set the color of the scrollbar track */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00B0EA; /* Change the color to your desired hover color */
  }
  
  
  /* For Firefox */
  /* Note: Firefox currently does not support scrollbar customization using CSS */
  